div.resume {
  line-height: 15px;
}

h1.resume,
h2.resume,
h3.resume,
h4.resume,
h5.resume,
h6.resume,
ul.resume {
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 15px;
}

#row.resume {
  display: table-row;
  width: 90%;
}

.title.resume {
  background: inherit;
  color: inherit;
}

.meat.resume {
  display: table-cell;
  background: black;
  color: white;
  padding-left: 1.5%;
  position: relative;
  width: 70%;
  z-index: 0;
}

/*todo: make the box-shadows more attractive*/
/* .meat > div { */
/*box-shadow: orange 1em 1em, orange 1em -1em;*/
/* } */

.sidebar.resume {
  background: white;
  color: black;
  display: table-cell;
  padding-left: 3%;
  padding-right: 3%;
  z-index: 2;
}

/* .sidebar > div { */
/*box-shadow: orange -1em 1em;*/
/*box-shadow: orange -1em 1em, orange -1em -1em;*/
/* } */

#languages.resume {
  margin-bottom: 22.5%;
}

li.resume {
  position: relative;
  left: -3%;
  line-height: 15px;
  font-size: 20;
}
