body {
  background-color: black;
  margin-left: 0px;
  margin-top: 0px;
  overflow: hidden;
}

h1 {
  color: white;
  margin-left: 40px;
  font-size: 40px;
}

#navigation{
  background-color: black;
  font-size:30px;
  color: white;
  position: absolute;
  top: 200px;
  left: 200px;
}

#contact{
  background-color: white;
  font-size:20px;
  color: white;
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 200px;
}

.glCanvas {
  background-color: white;
  z-index: 0;
  position: absolute; top: 50%; left: 50%;
}

#email {
  background-color: white;
  color: black;
  z-index: 1;
  position: absolute;
}