html {
  transform: scaleX(var(--page-scaleX,1)) scaleY(var(--page-scaleY,1));
  -webkit-transform: scaleX(var(--page-scaleX,1)) scaleY(var(--page-scaleY,1));
  -moz-transform:  scaleX(var(--page-scaleX,1)) scaleY(var(--page-scaleY,1));
  -o-transform:  scaleX(var(--page-scaleX,1)) scaleY(var(--page-scaleY,1));

  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  z-index:-5;
}

/* *:hover{
  z-index: 2;
} */

body {
  background-color: black;
  /* z-index: -1; */
  margin-left: 0px;
  margin-top: 0px;
  overflow: hidden;
}

#mainText {
  color: white;
  z-index: 0;
  margin-left: 40px;
  bottom: 40px;
  font-size: 40px;
  overflow: auto;
}

/* #mainText : hover{
  z-index: 2;
} */

#resume{
  /* display: block; */
  overflow: hidden;
  width: 30wv;

  transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);

  transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;

  -webkit-transform: scale(1.25);
  -webkit-transform-origin: 0 0;
  position: absolute;
  left: -150%; /*when the page loads, resume starts offscrean*/
  top: 13.5%;
}

#navigation{
  background-color: black;
  z-index: 0;
  font-size:30px;
  color: white;
  width: Xu;
  height: Yu;
  position: absolute;
  top: 30%;
  left: 50%;
}

#contact{
  background-color: white;
  font-size:20px;
  color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
}


/* #canvas1{
  left: 51.48%;
  top: 45.18%;
} */


.glCanvas{
  background-color: white;
  z-index: 2;
  width: Xu;
  height: Yu;
  transform: scale(1);
  transition: transform 0.2s;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  position: fixed; 
  transform: translate(-50%,-50%); 
}

.glCanvas:hover{
  background-color: white;
  z-index: 3;
  position: absolute;

  /* transform-origin: 50%,50% ;
  -moz-transform-origin: 50%,50% ;
  -webkit-transform-origin: 50%,50% ; */

  transform: translate(-50%,-50%)  scale(3);
  -moz-transform: translate(-50%,-50%)  scale(3);
  -webkit-transform: translate(-50%,-50%) scale(3);
  transition: transform 0.2s;
}

.p5Canvas{
  background-color: white;
  z-index: 2;
  width: Xu;
  height: Yu;
  transform: scale(1);
  transition: transform 0.2s;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  position: fixed; 
  transform: translate(-50%,-50%); 
}

.p5Canvas:hover{
  background-color: white;
  z-index: 3;
  position: absolute;
  transition: transform 0.2s;
  transform: translate(-50%,-50%)  scale(3);
  -moz-transform: translate(-50%,-50%)  scale(3);
  -webkit-transform: translate(-50%,-50%) scale(3);
  transition: transform 0.2s;
}


#blurb{
  background-color: black;
  color: white;
  position: fixed;
  /* height: 10%;
  width: 30%; */
  z-index: 5;
}





/* todo: when you hover over a canvas, the description flies in from the left */
/* and nestles itself against the canvas */
/* make sure that when you mouse over the textbox, the canvas doesn't go away */
/* will likely need some js, can't fanagle it with css sadly */

/* .canvasCaption {
  display: none;
  left: -2000px;
  top: -100px;
  transition: top 0.2s, left 0.2s;
}
.canvasCaption:hover {
  background-color: white;
  display: inline-block;
  z-index: 1;
  font-size:30px;
  width: 150%;
  transition: top 0.2s, left 0.2s;
  left: 50%;
} */


#email {
  background-color: white;
  color: black;
  /* margin-left: -(X/2)u;
  margin-top: -(Y/2)u;
  width: Xu;
  height: Yu; */
  z-index: 1;
  position: absolute;

  top: 64.14%;
  left: 56.45%;
}

/* courtesy of */
/*https://stackoverflow.com/a/12065925  */
/* I'll find a way to use this somehow */
span.stretch {
  display:inline-block;
  margin-left: 40%;
  -webkit-transform:scale(4,1); /* Safari and Chrome */
  -moz-transform:scale(4,1); /* Firefox */
  -ms-transform:scale(4,1); /* IE 9 */
  -o-transform:scale(4,1); /* Opera */
  transform: matrix(2, -0.6, 0, 2, 0, 0);
}



/*Resume properties, had to tack them on to this file*/

div.resume {
  line-height: 15px;
}

h1.resume,
h2.resume,
h3.resume,
h4.resume,
h5.resume,
h6.resume,
ul.resume {
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 15px;
}

.resume{
  position: relative;
}

#row.resume {
  display: table-row;
  width: 90%;
}

.title.resume {
  background: inherit;
  color: inherit;
}

.meat.resume {
  display: table-cell;
  background: black;
  color: white;
  padding-left: 1.5%;
  position: relative;
  width: 70%;
  z-index: 0;
}

/*todo: make the box-shadows more attractive*/
/* .meat > div { */
/*box-shadow: orange 1em 1em, orange 1em -1em;*/
/* } */

.sidebar.resume {
  background: white;
  color: black;
  display: table-cell;
  padding-left: 3%;
  padding-right: 3%;
  z-index: 2;
}

.sidebar > div {
box-shadow: orange -1em 1em;
box-shadow: orange -1em 1em;
}

#languages.resume {
  margin-bottom: auto;
}

#resumeContact{
  margin-bottom: auto;
}

#resumeEmail{
  margin-bottom: auto;
}

li.resume {
  position: relative;
  left: -3%;
  line-height: 15px;
  font-size: 20;
}
