html {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

body {
  flex-flow: column;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  background-color: #ffffee;
  overflow: hidden;
}

.box-item {
  display: block;
}

ul {
  width: 10%;
  height: auto;
  position: fixed;
  border-right: black;
  border-right-width: 20px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

ul li {
  cursor: pointer;
  text-align: left;
  padding: 0;
  text-align-last: left;
  width: fit-content;
  list-style: "- ";
}

ul li:hover {
  background-color: black;
  color: #ffffee;
}

iframe {
  display: flexbox;
  margin-top: 0%;
  margin-bottom: 0%;
  position: absolute;
  height: 100%;
  margin-left: 10%;
  width: 90%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 1%;
  border: none;
}

iframe::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #000;
}

iframe::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

iframe::-webkit-scrollbar-corner {
  background: #000;
}
