/* @import "/assets/css/fonts.css"; */

/* @font-face { font-family: 'Fedora_Symbols'; */
/*              src: url("/assets/fonts/SFFedoraSymbols.ttf") format('woff2'); } */

@font-face {
  font-family: "comicsands";
  src: url("/assets/fonts/comicsands.ttf") format("woff2");
}

@font-face {
  font-family: "hallucination";
  src: url("/assets/fonts/hallucination.ttf") format("woff2");
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: 900;
}
.cream {
  background-color: var(--color-3);
  color: var(--color-2);
}
.invert {
  background-color: var(--color-1);
  color: var(--color-2);
}
.size2 {
  font-size: 20px;
}

.comicsands {
  font-family: "comicsands";
  font-size: 100px;
  letter-spacing: -20px;
  line-height: 5px;
  display: inline-block;
  font-stretch: ultra-condensed;
}

.hallucination {
  font-family: "hallucination";
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 5px;
}

#ascii {
  width: 90%;
}

.shadow {
  text-shadow: 5px 5px var(--color-3);
}

.border {
  border-width: 3px;
  border-style: inset;
  border-collapse: 2px;
  border-block-color: var(--color-3);
  border-color: var(--color-1);
}
