.blackbar {
  --track: black;
  --thumb: #ffffee;
  --thumb-hover: var(--color-3);
}

.creambar {
  --track: #ffffee;
  --thumb: black;
  --thumb-hover: #777777;
}

body::-webkit-scrollbar {
  width: 15px;
  background: var(--scrollbar);
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--track);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--thumb);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}
